Repository AdilAzhari/POS-SuperMarket, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, tests, docs, dependencies

Fix test suite and type casting issues
  app/Actions/Common/HandleControllerErrorsAction.php
  app/DTOs/SaleResponseDTO.php
  app/Http/Controllers/ProductController.php
  app/Http/Controllers/PurchaseOrderController.php
  app/Http/Controllers/ReorderController.php
  app/Models/Customer.php
  app/Models/PurchaseOrder.php
  app/Services/InventoryAlertService.php
  app/Services/LoyaltyService.php
  app/Services/PaymentService.php
  app/Services/ReceiptService.php
  app/Services/ReorderService.php
  bootstrap/app.php
  composer.json
  composer.lock
  config/database.php
  config/sanctum.php
  docs/EDGE_CASES.md
  docs/MULTI_STORE_GUIDE.md
  phpunit.xml
  pint.json
  resources/js/Pages/Auth/Login.vue
  resources/js/Pages/Auth/Register.vue
  resources/js/bootstrap.js
  resources/js/stores/products.js
  routes/api.php
  routes/web.php
  tests/Feature/Api/ProductControllerTest.php
  tests/Feature/Api/SaleControllerTest.php
  tests/Feature/Services/ReorderServiceTest.php
  tests/Feature/Services/SaleServiceTest.php
  vite.config.js
Labels: backend, frontend, tests, docs, dependencies

Fix test suite and type casting issues
  app/Actions/Common/HandleControllerErrorsAction.php
  app/DTOs/SaleResponseDTO.php
  app/Http/Controllers/ProductController.php
  app/Http/Controllers/PurchaseOrderController.php
  app/Http/Controllers/ReorderController.php
  app/Models/Customer.php
  app/Models/PurchaseOrder.php
  app/Services/InventoryAlertService.php
  app/Services/LoyaltyService.php
  app/Services/PaymentService.php
  app/Services/ReceiptService.php
  app/Services/ReorderService.php
  bootstrap/app.php
  composer.json
  composer.lock
  config/database.php
  config/sanctum.php
  docs/EDGE_CASES.md
  docs/MULTI_STORE_GUIDE.md
  phpunit.xml
  pint.json
  resources/js/Pages/Auth/Login.vue
  resources/js/Pages/Auth/Register.vue
  resources/js/bootstrap.js
  resources/js/stores/products.js
  routes/api.php
  routes/web.php
  tests/Feature/Api/ProductControllerTest.php
  tests/Feature/Api/SaleControllerTest.php
  tests/Feature/Services/ReorderServiceTest.php
  tests/Feature/Services/SaleServiceTest.php
  vite.config.js
Labels: backend, frontend, tests, docs, dependencies

Refactor: Replace Observers with Actions pattern
  app/Actions/Models/GenerateCategorySlugAction.php
  app/Actions/Models/GeneratePaymentCodeAction.php
  app/Actions/Models/GenerateStockMovementCodeAction.php
  app/Enums/PaymentMethod.php
  app/Http/Controllers/CategoryController.php
  app/Http/Controllers/PaymentController.php
  app/Models/Category.php
  app/Models/Payment.php
  app/Models/StockMovement.php
  app/Observers/CategoryObserver.php
  app/Observers/PaymentObserver.php
  app/Observers/StockMovementObserver.php
  database/schema/mysql-schema.sql
Labels: backend

Refactor: Replace Observers with Actions pattern
  app/Actions/Models/GenerateCategorySlugAction.php
  app/Actions/Models/GeneratePaymentCodeAction.php
  app/Actions/Models/GenerateStockMovementCodeAction.php
  app/Enums/PaymentMethod.php
  app/Http/Controllers/CategoryController.php
  app/Http/Controllers/PaymentController.php
  app/Models/Category.php
  app/Models/Payment.php
  app/Models/StockMovement.php
  app/Observers/CategoryObserver.php
  app/Observers/PaymentObserver.php
  app/Observers/StockMovementObserver.php
  database/schema/mysql-schema.sql
Labels: backend

Fix: Add missing Str import in GenerateCategorySlugAction
  app/Http/Controllers/ProductController.php
  bootstrap/app.php
Labels: backend

Fix: Add missing Str import in GenerateCategorySlugAction
  app/Http/Controllers/ProductController.php
  bootstrap/app.php
Labels: backend

Fix failing tests and improve code quality
  app/Actions/Stock/BulkStockAdjustmentAction.php
  app/Actions/Stock/ProcessStockTransferAction.php
  app/Http/Controllers/ReorderController.php
  app/Services/InventoryAlertService.php
  app/Services/PaymentService.php
  app/Services/ReorderService.php
  tests/Feature/Api/ProductControllerTest.php
  tests/Feature/CacheManagementTest.php
  tests/Unit/Models/CategoryTest.php
Labels: backend, tests

Fix failing tests and improve code quality
  app/Actions/Stock/BulkStockAdjustmentAction.php
  app/Actions/Stock/ProcessStockTransferAction.php
  app/Http/Controllers/ReorderController.php
  app/Services/InventoryAlertService.php
  app/Services/PaymentService.php
  app/Services/ReorderService.php
  tests/Feature/Api/ProductControllerTest.php
  tests/Feature/CacheManagementTest.php
  tests/Unit/Models/CategoryTest.php
Labels: backend, tests

Add model unit tests and configure Pest for Unit/Models
  tests/Pest.php
  tests/Unit/Models/CategoryTest.php
  tests/Unit/Models/PaymentTest.php
  tests/Unit/Models/StockMovementTest.php
Labels: tests

Add model unit tests and configure Pest for Unit/Models
  tests/Pest.php
  tests/Unit/Models/CategoryTest.php
  tests/Unit/Models/PaymentTest.php
  tests/Unit/Models/StockMovementTest.php
Labels: tests

Fix test failures and improve code quality
  .junie/guidelines.md
  _ide_helper.php
  app/Actions/Common/HandleControllerErrorsAction.php
  app/Actions/Reorder/CreatePurchaseOrderFromReorderAction.php
  app/Enums/StockMovementReason.php
  app/Http/Controllers/ReorderController.php
  app/Models/PurchaseOrder.php
  bootstrap/app.php
  config/cashier.php
  cookies.txt
  database/migrations/2025_08_28_230715_create_purchase_orders_table.php
  tests/Feature/Api/CategoryControllerTest.php
  tests/Feature/CsrfTokenTest.php
  tests/Feature/ReportsAnalyticsTest.php
Labels: backend, tests, docs

Fix test failures and improve code quality
  .junie/guidelines.md
  _ide_helper.php
  app/Actions/Common/HandleControllerErrorsAction.php
  app/Actions/Reorder/CreatePurchaseOrderFromReorderAction.php
  app/Enums/StockMovementReason.php
  app/Http/Controllers/ReorderController.php
  app/Models/PurchaseOrder.php
  bootstrap/app.php
  config/cashier.php
  cookies.txt
  database/migrations/2025_08_28_230715_create_purchase_orders_table.php
  tests/Feature/Api/CategoryControllerTest.php
  tests/Feature/CsrfTokenTest.php
  tests/Feature/ReportsAnalyticsTest.php
Labels: backend, tests, docs

Update deploy.yml
  .github/workflows/deploy.yml
Labels: none

Improve PR template with comprehensive Laravel/Vue.js project sections
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs

Enhance Product Returns page with comprehensive UI improvements
  resources/js/Components/ProductReturns.vue
Labels: frontend

Clean up project by removing unnecessary files
  .gitignore
  CUSTOMIZATION_SUMMARY.md
  PERFORMANCE_OPTIMIZATION.md
  PRODUCT_RETURNS_GUIDE.md
  ROUTE_FIX_SUMMARY.md
  _ide_helper.php
Labels: docs

Add comprehensive loyalty system display to Customer Management
  app/Http/Controllers/CustomerController.php
  resources/js/Components/CustomerManagement.vue
  routes/api.php
Labels: backend, frontend

Fix Reports & Analytics data format mismatch
  app/Actions/Reports/GenerateAnalyticsReportAction.php
Labels: backend

.github/labeler.yml:

# Configuration for the labeler action

# Add 'backend' label to PHP files
backend:
  - 'app/**/*.php'
  - 'database/**/*.php'
  - 'config/**/*.php'
  - 'routes/**/*.php'

# Add 'frontend' label to Vue/JS files  
frontend:
  - 'resources/js/**/*.vue'
  - 'resources/js/**/*.js'
  - 'resources/css/**/*.css'

# Add 'tests' label to test files
tests:
  - 'tests/**/*.php'

# Add 'docs' label to documentation files
docs:
  - '**/*.md'
  - 'docs/**/*'

# Add 'hotfix' label to hotfix branches
hotfix:
  - head-branch: '^hotfix\/.*'

# Add 'feature' label to feature branches  
feature:
  - head-branch: '^feature\/.*'

# Add 'enhancement' label to enhancement branches
enhancement:
  - head-branch: '^enhance\/.*'

# Add 'refactor' label to refactor branches
refactor:
  - head-branch: '^refactor\/.*'

# Add 'dependencies' label to dependency files
dependencies:
  - 'composer.json'
  - 'composer.lock'
  - 'package.json'
  - 'package-lock.json'
